body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.insta {
    margin-left: 35%;
}
.face {
    margin-left: 36%;
}
iframe {
    background-color: white;
}